@use "../helper";

.hero {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 0 1.5rem 7vh;
  gap: 1rem;
}

.hero-title {
  @include helper.t-black(1.7rem);
  color: helper.$light;
  text-align: center;
  max-width: 70%;
  align-self: center;
  padding-top: 2rem;

  &--accent { color: helper.$primary }

  @include helper.responsive(xl) {font-size: 1.9rem;}
  @include helper.responsive(xxl) {font-size: 2.2rem;}
}

.hero-cta {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none !important;
  padding: 0.83rem 2rem;
  border-radius: 58px;
  color: helper.$dark;
  @include helper.t-bold(1.1rem);
  background-color: helper.$light;
  text-transform: uppercase;
  margin-inline: auto;
  transition: background-color 0.4s;

  &:hover {
    background-color: helper.$primary;
    transition: background-color 0.7s;
    color: helper.$dark;
  }

  @include helper.responsive(md) {
    font-size: 1rem;
  }
}

.hero-img {
  width: 80vw;
  margin-inline: auto;
  max-width: 300px;

  @include helper.responsive(md) {
    margin-inline: 0;
  }
}