@charset "UTF-8";
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #191919;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  margin-left: auto;
  z-index: 9;
}

.nav-menu {
  position: fixed;
  bottom: 0;
  width: 100vw;
  list-style-type: none;
  padding: 2rem 1rem 1rem 1rem;
  background-color: #1e1e1e;
  min-height: 20px;
  max-height: 80vh;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.2rem;
  left: 0;
  z-index: 3;
  transition: bottom 0.2s;
}
@media (min-width: 576px) {
  .nav-menu {
    max-height: initial;
    inset: 3.3rem 0 0 auto;
    width: 50vw;
    border-radius: 15px 0 0 15px;
    transition: right 0.2s;
  }
  .nav-menu:after {
    position: absolute;
    content: "";
    background: linear-gradient(180deg, #42b63e 30%, #2364aa 80%);
    opacity: 70%;
    width: 10rem;
    height: 10rem;
    inset: auto -7rem 10vh auto;
    border-radius: 50%;
    filter: blur(6rem);
  }
}
@media (min-width: 768px) {
  .nav-menu {
    position: initial;
    flex-flow: row nowrap;
    width: auto;
    background-color: transparent;
    padding: 0;
    gap: 1rem;
  }
  .nav-menu:after {
    inset: 0 0 auto auto;
  }
}
.nav-menu:before {
  position: absolute;
  content: "";
  background-color: #333333;
  width: 4rem;
  height: 5px;
  border-radius: 50px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 576px) {
  .nav-menu:before {
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
    width: 5px;
    height: 4rem;
  }
}
@media (min-width: 768px) {
  .nav-menu:before {
    display: none;
  }
}

.nav-menu--collapsed {
  bottom: -25rem;
}
@media (min-width: 576px) {
  .nav-menu--collapsed {
    bottom: auto;
    right: -100vw;
    height: 100vh;
  }
}
@media (min-width: 768px) {
  .nav-menu--collapsed {
    height: initial;
  }
}

.navitem {
  text-align: right;
  margin-right: 2rem;
  z-index: 2;
}
.navitem:first-child {
  margin-top: 1rem;
}
.navitem:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .navitem {
    margin-right: 0;
  }
  .navitem:first-child {
    margin-top: 0;
  }
  .navitem:last-child {
    margin-bottom: 0;
  }
}

.navitem :not(.navlink--active):hover {
  color: #97a4b0;
  transition: color 0.5s;
}
@media (min-width: 768px) {
  .navitem :not(.navlink--active):hover {
    background-color: #333333;
    color: #eef0f2;
    border-radius: 5px;
    transition: background-color 0.5s;
  }
}

.navlink {
  text-decoration: none;
  color: #eef0f2;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  padding: 0.6rem 0.5rem;
  /*Links activos*/
}
@media (min-width: 768px) {
  .navlink {
    font-weight: 600;
    font-size: 1rem;
  }
}
.navlink--active {
  color: #edc643;
}

/* Burger menu */
.burger-button {
  padding: 0.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

/* Este texto no se ve en el botón*/
.burger-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.nav-burgerbars {
  /*Estilos de las barritas del menú*/
  position: relative;
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #eef0f2;
  border-radius: 20px;
}
.nav-burgerbars:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 3px;
  top: 7px;
  right: 0;
  background-color: inherit;
  border-radius: 20px;
}
.nav-burgerbars:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 3px;
  top: -7px;
  left: 0;
  background-color: inherit;
  border-radius: 20px;
}

/*
@use '../helper' as h;

#landing {
  background-color: h.$dark;
}*/
.banner {
  background-color: #191919;
  display: flex;
  flex-flow: row nowrap;
  padding: 0.8rem 1.5rem;
  align-items: center;
  border: none;
}
@media (min-width: 768px) {
  .banner {
    padding: 2rem;
    max-width: 90vw;
    margin-inline: auto;
  }
}
@media (min-width: 1200px) {
  .banner {
    max-width: 80vw;
  }
}
@media (min-width: 1400px) {
  .banner {
    max-width: 70vw;
  }
}

.logo {
  position: relative;
  font-family: "Proza Libre", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #eef0f2;
}
.logo:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background-color: #eef0f2;
  border-radius: 50%;
  top: 0;
  left: 3.33rem;
}

.opacity-blur {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  z-index: 1;
}

.hero {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 0 1.5rem 7vh;
  gap: 1rem;
}

.hero-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  color: #eef0f2;
  text-align: center;
  max-width: 70%;
  align-self: center;
  padding-top: 2rem;
}
.hero-title--accent {
  color: #edc643;
}
@media (min-width: 1200px) {
  .hero-title {
    font-size: 1.9rem;
  }
}
@media (min-width: 1400px) {
  .hero-title {
    font-size: 2.2rem;
  }
}

.hero-cta {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  padding: 0.83rem 2rem;
  border-radius: 58px;
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #eef0f2;
  text-transform: uppercase;
  margin-inline: auto;
  transition: background-color 0.4s;
}
.hero-cta:hover {
  background-color: #edc643;
  transition: background-color 0.7s;
}
@media (min-width: 768px) {
  .hero-cta {
    font-size: 1rem;
  }
}

.hero-img {
  width: 80vw;
  margin-inline: auto;
  max-width: 300px;
}
@media (min-width: 768px) {
  .hero-img {
    margin-inline: 0;
  }
}

.reviews-section {
  position: relative;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .reviews-section {
    margin-inline: 0;
  }
}

.review {
  position: relative;
  display: grid;
  grid-template-areas: "photo description description" "photo description description" "none name name";
  width: auto;
  max-width: 500px;
  background-color: #1e1e1e;
  border-radius: 5px;
  margin-inline: auto;
  grid-gap: 0.5rem;
  padding: 0.8rem;
  margin-bottom: 2rem;
}
.review:before {
  position: absolute;
  content: "";
  height: 6rem;
  border-left: dashed 2px #eef0f2;
  inset: -6rem 50%;
  transform: translate(-50%, 0);
}
@media (min-width: 768px) {
  .review:before {
    height: 0;
    width: 8rem;
    border-top: dashed 2px #eef0f2;
    left: -8rem;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.review:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 6rem;
  height: 6rem;
  top: -1rem;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  background-color: #42b63e;
  filter: blur(4rem);
  opacity: 70%;
}

.review-photo {
  grid-area: photo;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  margin-inline: 0.5rem;
}

.review-description {
  grid-area: description;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #eef0f2;
  margin-right: 0.5rem;
}

.review-name {
  grid-area: name;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: #727272;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
  }
}

.section-text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #eef0f2;
  text-align: center;
  max-width: 90%;
  padding-block: 2rem;
}
@media (min-width: 768px) {
  .section-text {
    text-align: initial;
    max-width: 50vw;
  }
}
.section-text--pink {
  color: #ec0eff;
}
.section-text--blue {
  color: #3562ff;
}
.section-text--green {
  color: #58ff0a;
}
.section-text--xl {
  font-size: 1.5rem;
}
.section-text--background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7.1rem;
  opacity: 10%;
  padding: 0;
}

.section-header--fixed {
  position: sticky;
  top: 0;
}

#simulation div > .section-text {
  margin: 3rem 0;
  max-width: 80%;
  margin-inline: auto;
}
@media (min-width: 768px) {
  #simulation div > .section-text {
    max-width: 50vw;
    margin-inline: initial;
    padding-inline: 3rem;
  }
}

:is(#suggestions, #newsletter) .section-text {
  margin-inline: auto;
}

.section-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: #eef0f2;
  margin-left: 1rem;
  padding-block: 1.2rem;
}
.section-subtitle--pink {
  color: #edc643;
}

#newsletter .section-subtitle {
  margin-inline: auto;
  margin-block: 2rem;
}

#simulation {
  height: 390vh;
}

.simulator-section {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem 0;
}

.simulator-header {
  position: relative;
  background-color: #191919;
  border: solid 1px #191919;
  padding: 0.8rem;
  z-index: 9;
}
@media (min-width: 992px) {
  .simulator-header {
    position: sticky;
    top: 0;
  }
}

.simulator-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  color: #eef0f2;
  text-align: center;
  z-index: 9;
}

.simulator-container {
  position: sticky;
  top: 0;
  height: 100vh;
}
@media (min-width: 576px) {
  .simulator-container {
    margin-inline: auto;
    width: 100vw;
    max-width: 95%;
    margin-top: 5rem;
    display: grid;
    grid-template-areas: "description simulator";
    gap: 4rem;
    height: 100vh;
    align-items: flex-start;
    justify-content: space-around;
  }
}
@media (min-width: 992px) {
  .simulator-container {
    max-width: 80%;
  }
}

.simulator-context {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 2rem 1rem 1rem 1rem;
  background-color: #1e1e1e;
  min-height: 20px;
  border-radius: 15px 15px 0 0;
  z-index: 10;
}
@media (min-width: 576px) {
  .simulator-context {
    grid-area: simulator;
    max-width: 700px;
    height: auto;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    border-radius: 15px;
  }
}
@media (min-width: 992px) {
  .simulator-context {
    padding-inline: 3rem;
  }
}
.simulator-context:before {
  position: absolute;
  content: "";
  background-color: #333333;
  width: 4rem;
  height: 5px;
  border-radius: 50px;
  top: 12px;
  left: 50%;
  transform: translate(-50%, 0);
}

.simulator-descriptions {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  grid-area: description;
  max-width: 90%;
  margin-inline: auto;
  height: 8rem;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (min-width: 576px) {
  .simulator-descriptions {
    align-self: center;
    width: 30vw;
    max-width: initial;
  }
}
.simulator-descriptions:after {
  content: "";
  position: absolute;
  bottom: -40vh;
  left: 50%;
  transform: translate(-50%, 0);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: linear-gradient(180deg, #edc643, #42b63e);
  filter: blur(5rem);
  z-index: -1;
}
@media (min-width: 768px) {
  .simulator-descriptions:after {
    bottom: auto;
    right: -9rem;
    left: auto;
    transform: initial;
  }
}

.simulator-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: #eef0f2;
  text-align: center;
}
.simulator-text--info {
  font-weight: 400;
  font-size: 0.8rem;
  color: #97a4b0;
}

/*Estilos para formulario del simulador*/
.simulator-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.9rem;
}

.simulator-label {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #eef0f2;
}

.simulator-input :is(span, input) {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: transparent;
}

/*Ocultador de botones de incremento/decremento en input number*/
.simulator-input input::-webkit-outer-spin-button,
.simulator-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.simulator-input input {
  -moz-appearance: textfield;
  /* Firefox */
  width: 15rem;
  border: hidden;
  color: #eef0f2;
}
.simulator-input input:focus {
  outline: none;
}
.simulator-input input::placeholder {
  color: #666666;
}

.simulator-input span {
  color: #eef0f2;
}

.simulator-switch {
  display: flex;
  overflow: hidden;
}
.simulator-switch input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}
.simulator-switch input:checked + label {
  background-color: #eef0f2;
  color: #191919;
}
.simulator-switch label {
  background-color: transparent;
  color: #eef0f2;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  padding: 0.83rem 1.3rem;
  margin-right: -1px;
  border: solid 1px #eef0f2;
  transition: all 0.1s ease-in-out;
}
.simulator-switch label:hover {
  cursor: pointer;
}
.simulator-switch label:first-of-type {
  border-radius: 10px 0 0 10px;
}
.simulator-switch label:last-of-type {
  border-radius: 0 10px 10px 0;
  margin-right: 0;
}

/*Estilos propios de la simulación (resultados)*/
.simulator-capital,
.simulator-risk,
.simulator-returns {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.4rem;
  margin-left: 4vw;
  margin-right: 4vw;
}

.simulator-risk {
  margin-bottom: 0.9rem;
}

.simulator-returns .simulator-label:after {
  position: relative;
  content: "12 meses";
  color: #7f7f7f;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  right: -1.2rem;
}

.simulator-equity {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: transparent;
  color: #edc643;
}

.newsletter-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.newsletter-title {
  font-family: "Poppins", sans-serif;
  font-size: 1.7rem;
  font-weight: 900;
  color: #eef0f2;
}

.newsletter-text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #eef0f2;
  text-align: center;
  max-width: 70%;
}
.newsletter-text--accent {
  color: #edc643;
}

.btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  padding: 0.83rem 2rem;
  border-radius: 58px;
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #edc643;
  text-transform: uppercase;
  margin-inline: auto;
  transition: background-color 0.4s;
}
.btn:hover {
  background-color: #eef0f2;
  transition: background-color 0.7s;
}
@media (min-width: 768px) {
  .btn {
    font-size: 1rem;
  }
}

.newsletter-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  font-weight: 900;
  color: #eef0f2;
}
.newsletter-subtitle--accent {
  color: #edc643;
}

.newsletter-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
.newsletter-form label {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #eef0f2;
}
.newsletter-form div {
  position: relative;
  width: 90vw;
}
@media (min-width: 576px) {
  .newsletter-form div {
    width: 80vw;
  }
}
@media (min-width: 768px) {
  .newsletter-form div {
    max-width: 50vw;
  }
}
@media (min-width: 992px) {
  .newsletter-form div {
    max-width: 30rem;
  }
}
.newsletter-form div input {
  padding: 0.83rem;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #eef0f2;
  border-radius: 58px;
  border: solid 2px #edc643;
  padding-right: 8rem;
  width: 100%;
}
.newsletter-form div input:focus {
  outline: transparent;
}
.newsletter-form div button {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 0.81rem 1.5rem;
  border-radius: 58px;
  border: solid 2px #edc643;
  color: #191919;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #edc643;
  text-transform: uppercase;
}

#footer {
  max-width: 90vw;
  margin-inline: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 0.4rem;
  color: #eef0f2;
  padding: 1rem;
}

.footer-text {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.section-heading {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.section-heading--title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.35rem;
  font-weight: 900;
  color: #eef0f2;
}
.section-heading--title:after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  transform: translate(-50%, 0);
  height: 3px;
  width: 60%;
  background-color: #eef0f2;
}

.section-heading--description {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #eef0f2;
}

.project {
  position: relative;
  display: grid;
  grid-template-areas: "project-img" "project-description";
  width: 9rem;
  cursor: pointer;
  /*@include helper.responsive(lg) {
    width: $width-lg;
  }*/
}
@media (min-width: 768px) {
  .project {
    width: 13.9rem;
  }
}

.project-img {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  width: 100%;
  object-fit: cover;
  height: 7rem;
  grid-area: project-img;
}
@media (min-width: 768px) {
  .project-img {
    height: 10.25rem;
  }
}

.project-description {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.313rem;
  background-color: #1e1e1e;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  padding: 0.6rem;
}

.project-name {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: #eef0f2;
}

.project-info {
  display: flex;
  justify-content: space-between;
  color: #eef0f2;
}

.project-returns {
  display: none;
}
@media (min-width: 768px) {
  .project-returns {
    display: initial;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
  }
}

.project-info .badge {
  position: absolute;
  inset: 0.25rem auto auto 0.25rem;
}
@media (min-width: 768px) {
  .project-info .badge {
    position: initial;
  }
}

:is(.project-investors, .project-value) {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.badge {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: #191919;
  background-color: #727272;
  padding: 0.125rem 0.5rem;
  border-radius: 50px;
}
.badge--special {
  background-color: #474747;
  color: #eef0f2;
}
.badge--primary {
  background-color: #edc643;
}

.button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  padding: 0.5rem 0.875rem;
  background-color: #333333;
  color: #eef0f2;
  border-radius: 50px;
}
.button--primary {
  background-color: #edc643;
  color: #191919;
}
.button--secondary {
  outline: solid 2px #edc643;
  outline-offset: -2px;
  color: #edc643;
  background-color: transparent;
}
.button--special {
  background-color: #eef0f2;
  color: #191919;
}

button.button--icon {
  width: 2.35rem;
  height: 2.35rem;
  border-radius: 50%;
  background-color: #eef0f2;
  outline: none;
  border: none;
  cursor: pointer;
}

button.button--primary {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  background-color: #edc643;
  white-space: nowrap;
  color: #191919;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.875rem;
  border-radius: 50px;
}

.project-wrapper {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  align-items: flex-start;
  width: 9rem;
  /*@include helper.responsive(lg) {
    width: project.$width-lg;
  }*/
}
@media (min-width: 768px) {
  .project-wrapper {
    width: 13.9rem;
  }
}

.project-actions {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown-button {
  display: flex;
  flex-flow: row nowrap;
  gap: 0.5rem;
  white-space: nowrap;
  justify-content: center;
  align-items: baseline;
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: 99px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  border: 2px solid #727272;
  color: #727272;
}

.is-checked {
  border: 2px solid #edc643;
  color: #edc643;
}

.dropdown button:focus + .dropdown-menu {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
}

.dropdown button:focus {
  border: 2px solid #edc643;
  background-color: #edc643;
  color: #191919;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  background-color: #272727;
  border-radius: 11px;
  margin-top: 0.5rem;
  transform: translateY(-10px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.dropdown-menu input {
  display: none;
}

.dropdown-menu label {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  color: #eef0f2;
  padding: 0.4rem 0.7rem;
  transition: color ease-in 0.05s;
}
.dropdown-menu label:hover {
  color: #97a4b0;
}

.dropdown-menu label:first-of-type {
  padding-top: 0.8rem;
}

input:checked + label {
  color: #edc643;
}
input:checked + label:hover {
  color: #edc643;
}

.dropdown-divider {
  height: 1px;
  width: 90%;
  align-self: center;
  background-color: #727272;
}

.filter-recommended {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  overflow-y: auto;
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  .filter-recommended {
    justify-content: center;
  }
}
.filter-recommended button:first-of-type {
  margin-left: 1rem;
}

.recommended-projects {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  gap: 1rem;
  align-items: flex-start;
  margin-inline: auto;
  width: 90vw;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  .recommended-projects {
    width: fit-content;
  }
}

.section-recommended {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.projects-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  margin-inline: auto;
  width: 90vw;
}
@media (min-width: 1200px) {
  .projects-container {
    width: 90%;
    display: grid;
    grid-template-columns: 350px 2fr;
    gap: 2.5rem;
  }
}
@media (min-width: 1400px) {
  .projects-container {
    width: 70%;
  }
}

.all-projects {
  margin-top: 3rem;
  display: flex;
  flex-flow: row wrap;
  gap: 1.5rem;
  row-gap: 3rem;
}
@media (min-width: 1200px) {
  .all-projects {
    margin-top: 0;
  }
}

.project-section {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
}
.project-section .section-heading {
  margin-top: 3rem;
}

.empty-projects h3 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  color: #eef0f2;
  opacity: 0.4;
}

.filter-projects--expanded {
  visibility: visible !important;
  position: relative !important;
  transform: translateY(0px) !important;
  opacity: 1 !important;
}

.filter-projects {
  position: absolute;
  opacity: 0;
  display: flex;
  visibility: hidden;
  z-index: 2;
  flex-flow: column nowrap;
  gap: 1rem;
  background-color: #1e1e1e;
  width: 90vw;
  transform: translateY(-5px);
  transition: all 0.3s ease;
  margin-inline: auto;
  margin-top: 0.5rem;
  border-radius: 11px;
  padding: 1rem;
}
@media (min-width: 768px) {
  .filter-projects {
    visibility: visible !important;
    position: relative !important;
    transform: translateY(0px) !important;
    opacity: 1 !important;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .filter-projects {
    display: flex;
    width: 340px;
    margin-inline: initial;
  }
}
.filter-projects h3 {
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  color: #eef0f2;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .filter-projects h3 {
    display: none;
  }
}
@media (min-width: 1200px) {
  .filter-projects h3 {
    display: initial;
  }
}

.filter-option {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.filter-option strong {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #eef0f2;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .filter-option {
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media (min-width: 1200px) {
  .filter-option {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  #filter-button {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
